<div class="container">
  <div class="text-center">
    <%= form_for(@task) do |f| %>
    <%= f.text_field :name, placeholder: "Enter task name" %>
    <%= f.number_field(:difficulty)%>
    <%= f.number_field(:laziness) %>
    <%= f.submit class: "btn btn-primary"%>
    <% end %>
  </div>
</div>
